# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	#name = 
	#email = 
[core]
	editor = vim 
	ignorecase = false
	quotepath = false
	safecrlf = true
	autocrlf = false
	excludesfile = ~/.gitignore
[color]
	ui = auto
[diff]
	renames = true
[fetch]
	prune = true
[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	cl = clone
	df = diff --ignore-all-space --color-words
	ft = fetch
	mg = merge
	rb = rebase
	sv = stash save
	ap = stash apply
	hist = log --patch
	tree = log --pretty=format:'%Cgreen[%cd] %C(yellow)%h %Cblue<%cn> %Creset%s %Cred%d%Creset' --date=short  --decorate --graph --branches --tags --remotes
	logd = log --oneline --graph --decorate
	logg = log --graph --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'
[merge]
	ff = false
[pull]
	ff = only
[push]
	default = simple
